body {
    font-family: Arial, sans-serif;
}

#home-icon {
    width: 50px;
}

#instagram-icon {
    width: 40px;
}

/* ボタンのカスタムスタイル */
.btn-primary {
    /* background-color: #007bff; */
    border-color: #007bff;
    /* color: white; */
    /* display: flex; */
    /* align-items: center; */
}

.btn-primary:hover {
    /* background-color: #0056b3; */
    border-color: #0056b3;
}

/* ボタンのサイズ調整 */
.btn-lg {
    padding: 5px 10px;
    font-size: 0.8rem;
    /* border-radius: 50px; */
}

.carousel-item {
    height: 400px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}


/* 全体の調整 */
header {
    background-color: #f8f8f8;
    padding: 10px 0;
}

footer {
    background-color: #f8f8f8;
    padding: 10px 0;
}
